
<div class="wrapper">
    <div class="body">
        <img class="logo" src="/assets/icons/logoerizo.png" alt="img login">
        <h3>Registro</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control"  placeholder="Ingrese Usuario">
            <label>Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control"  placeholder="Ingrese Contraseña">
            <label>Contraseña</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control"  placeholder="Ingrese Contraseña de nuevo">
            <label>Repetir Contraseña</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="addUser()" class="btn btn-custom-color-go btn-lg">Aceptar</button>
        </div>
        <a routerLink="/login">Volver</a>
    </div>
</div>
