.wrapper{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo{
    height: 130px;
    margin-bottom: 10px;
}
.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
}