.wrapper{
    background-color: #F2E9D8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-custom-color-go{
    background-color: #D9436B;
    color: #F2E9D8;
}

.logo{
    height: 130px;
    margin-bottom: 10px;
}
.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
}