<nav class="navbar navbar-expand-sm custom-navbar-color">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/maps">
        <img src="/assets/icons/spirologo3.png" alt="Logo" width="145" height="40" class="d-inline-block align-text-top">
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists">Tabla</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listscate">Categorias</a>
          </li>
        </ul>
      </div>

      <button class="btn custom-button-color" type="button" (click)="logOut()"><i class="fa fa-user"></i></button>
      
    </div>
  </nav>